@model HomeDetailsViewModel

@{
    ViewBag.Title = "Employee Details";
}

<div style="display:flex; justify-content:center; align-items:center; flex-direction:column; height:100vh; background:azure">
    <h3>@Model.PageTitle</h3>
   
    <div>
        Name: @Model.Employee.Name
    </div>
    <div>
        Email: @Model.Employee.Email
    </div>
    <div>
        Department : @Model.Employee.Department
    </div>
</div>
@section Scripts{
    <script src="~/js/CustomScripts.js"></script>
}
